.game-rules {
  position: absolute;
  margin-top: 7vh;
  margin-bottom: 7vh;
  width: 92%;
  /* height: 75%; */
  background-color: var(--white);
  border-radius: 3rem;
  border: 4px solid black;
  padding: 0 1.2rem;
  /* display: none; */
  padding-bottom: 2.5rem;
  box-shadow: 0 0.6rem black;
  h1 {
    text-align: center;
    margin: 3rem 0;
    font: var(--font-heading-l);
  }
  h2 {
    margin: 1rem 0;
    font: var(--font-heading-s);
    color: var(--purple-h2);
  }
  ol {
    list-style: decimal;
    padding: 0 1rem;
  }
  p {
    margin-bottom: 2rem;
  }
  p,
  li {
    font: var(--font-p);
  }
  li {
    margin: 0.8rem 0;
    counter-increment: rules-counter;
  }
  ol > li::marker {
    font-weight: bold;
    content: counter(rules-counter) "  ";
  }

  .button-container {
    /* position: relative; */
    margin-top: 1.5rem;
    width: 100%;
    display: flex;
    justify-content: center;
    button {
      position: absolute;
      background-color: rgb(240, 248, 255, 0);
      border: none;
    }
  }
}
