.main-menu {
  position: relative;
  width: 90%;
  padding-top: 25vh;
  max-width: 100vw;
  display: flex;
  align-items: center;
  flex-direction: column;
  .logo-container {
    display: flex;
    justify-content: center;
  }

  .main-menu-button {
    border: black 4px solid;
    border-radius: 1rem;
    width: 100%;

    box-shadow: 0 0.6rem black;

    a {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 95%;
    }

    p {
      align-self: center;
      padding: 1rem;
      font-size: 1.5rem;
      font-weight: 1000;
    }
    img {
      margin-left: 16px;
    }
  }
  .pvp {
    margin-top: 4.5rem;
    background-color: var(--yellow);
  }
}
.main-menu-game-rules {
  margin-top: 1.7rem;
  display: flex;
  flex-direction: row;
  border: black 4px solid;
  border-radius: 1rem;
  width: 85%;
  background-color: var(--white);
  box-shadow: 0 0.6rem black;
  p {
    align-self: center;
    padding: 1rem;
    font-size: 1.6rem;
    font-weight: 1000;
  }
}
